
body {
  background: #609cd7;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: rgb(128, 89, 89);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #191919;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: #101111;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: none;
}

button {
  background: #004080;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0066cc;
}


.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.popup-content h2 {
  color: #004080;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 15px;
  color: #333;
}

.popup-content button {
  margin-top: 15px;
  background: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #0066cc;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
